<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/estilo.css">
    <title>THE BOX</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            T H E <p>B O X </p>
        </a>
    </div>
</nav>
{{{body}}}
<footer style="margin-top: 100px;">
    <div class="footer-top text-center">

        <div class="footer-bottom text-center">
            <p class="mb-0">Designed by Cynndm</p>
        </div>
    </div>
</footer>
</body>

</html>